@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    background: #E5E5E5;
    font-family: 'Poppins', sans-serif;
    margin:0;
}
header{
    display: flex;
    justify-content: center;
    background-color:#562EFF;
    color:white;
}
nav{
    width: 920px;
    display: flex;
    justify-content: space-between;
}
.nav-log,.nav-menu,.nav-menu-text{
    display: flex;
    align-items: center;
}
.nav-log img{
    width: 40px;
    height: 40px;
}
.nav-menu-text li{
    list-style: none;
    margin-right: 20px;
}
.nav-menu-text li a{
    text-decoration: none;
    color:white;
}
.nav-title{
    margin-left: 15px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width:870px;
    padding:30px;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 5px;
}
.top-title{
    color: #562EFF;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-row-gap:30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width:56px;
    height: 56px;
}
.player-title{
    margin-left: 16px;
    font-size: 18px;
}
hr{
    margin: 30px 0;
    border: 1px solid #D1D1D1;
}
.blog-wrap{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-row-gap:30px;
}
.blog-title{
    font-size: 20px;
}
.blogs{
    display: flex;
}
.blog-img img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-writer{
    
    color: #9F9F9F;
}
.blog-auther-name{
    text-decoration: none;
    color: #562EFF;
}
.courses-wrap{
    display: grid;
    grid-template-columns:repeat(3,1fr)
}
.courses{
    width: 250px;
    box-shadow: 0 0 5px rgb(248, 244, 244);
    padding:13px 5px 5px 11px;
    border-radius: 6px;
}
.course-banner img{
    width: 224px;
    height: 104px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star.field{
    color: #FFC014;
}
.fa-star.emfty{
    color: #AEAEAE;
}
.course-duration{
    color:rgb(175, 9, 9);
    border: 1px solid;
    padding: 3px;
    border-radius: 15px;
    background-color: rgba(255, 0, 0, 0.329);
}
footer{
    background-color:#562EFF;
    color:white;
    text-align: center;
    padding: 3px;
    margin-top: 40px;
}

/*---------------------
    mobile responsive
----------------------*/


@media only screen and (max-width:640px){
   body{
       margin: 0;
       box-sizing: border-box;
   }
   nav{
     
        width: 100%;
        flex-direction:column;
        padding:10px;
    }
    .nav-menu{
        justify-content: space-between;
    }
    .container{
        width:100%;
       
    }
    .top-players,.top-blogs,.lates-course{
        padding:10px;
    }
    .players{
        grid-template-columns:repeat(1,1fr);
       
        
    }
    /*-------------under-------------*/
    .blog-wrap{
        grid-template-columns:repeat(1,1fr);
    }
    .blogs{
        flex-direction: column;
    }
    .blog-info{
        margin-left: 0;
    }
    .courses-wrap{
        grid-template-columns: repeat(1,1fr);
        margin-bottom:50px ;
    }
    .courses{
       width: 100%;
       margin-top: 30px;
    }
    .course-info{
        flex-direction: column;
        align-items: flex-start;
    }
    .course-duration{
        margin-top:20px;
    }
}